body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
}

.lato__reg {
  font-weight: 400;
}

.main-logo {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
  margin-top: 50px;
}

.navbar {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 100px;
  text-align: center;
}

.navbar__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: auto;
}

.navbar__li {
  display: inline-block;
  line-height: 100px;
  font-size: 35px;
  height: 100px;
  padding: 0 50px 0;
  cursor: pointer;
  transition: background-color .5s;
}

.navbar__li a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

.navbar__li:hover {
  background-color: #1e90ff;
  color: white;
}

.main__product-img-wrapper {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 80%;
  overflow: hidden;
}

.main__footer {
  height: 160px;
  background-color: black;
}

.main__product-img {
  height: 600px;
  width: 400px;
  margin: 0 25px 0;
}

#MAIN__PRODUCT-IMG-LEFT {
  float: left;
}

#MAIN__PRODUCT-IMG-RIGHT {
  float: right;
}

.about__container {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about__header {
  text-align: left;
  color: #1e90ff;
}

.about__paragraph {
  text-align: left;
  font-size: 16px;
  line-height: 17px;
  width: 61.8%;
}