/*white: #fffff0 blue: #1e90ff  */

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  background-color: #fffff0;
}

.lato__reg {
  font-weight: 400;
}

.main-logo {
  height: 200px;
  width: 200px;
  display: inline-block;
  position: relative;
  top: 100px;
}

.navbar__wrapper {
  margin-top: 80px;
  height: 300px;
}

.navbar {
  width: 80%;
  margin: auto;
  margin-top: -150px;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
  height: 80px;
  text-align: center;
  position: relative;
}

.navbar__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: auto;
}

.navbar__left {
  float: left;
}

.navbar__right {
  float: right;
}

.navbar__li {
  display: inline-block;
  line-height: 80px;
  font-size: 25px;
  height: 80px;
  padding: 0 30px 0;
  cursor: pointer;
  transition: background-color .5s;
}

.navbar__li a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

.navbar__li:hover {
  background-color: #1e90ff;
  color: #fffff0;
}

.main__product-img-wrapper {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 80%;
  overflow: hidden;
}

.main__footer {
  height: 160px;
  background-color: black;
}

.main__product-img {
  height: 600px;
  width: 400px;
  margin: 0 25px 0;
  transition: border .5s;
}

.main__product-img:hover {
  border: 2px solid #1e90ff;
}

#MAIN__PRODUCT-IMG-LEFT {
  float: left;
}

#MAIN__PRODUCT-IMG-RIGHT {
  float: right;
}

.about__container {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about__header {
  text-align: left;
  color: #1e90ff;
}

.about__paragraph {
  text-align: left;
  font-size: 16px;
  line-height: 17px;
  width: 61.8%;
}

.product__container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.product__img {
  height: 400px;
  width: 400px;
}

.product__summary {
  float: right;
  padding: 20px;
}

.product__details {
  margin-top: 50px;
}

.product__detail {
  display: inline-block;
  margin-bottom: 20px;
}

.product__detail-img {
  height: 300px;
  width: 300px;
  background-color: #fffff0;
  float: left;
}

.product__detail-text {
  width: 50%;
  float: right;
  padding: 30px;
  font-size: 20px;
}

.product__detail-text:nth-child(even) {
  float: left;
}

.even {
  color: red;
}

.odd {
  color: blue;
}