/*white: #fffff0 blue: #1e90ff  */

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  background-color: white;
}

.lato__reg {
  font-weight: 400;
}

.main-logo {
  height: 200px;
  width: 200px;
  display: inline-block;
  position: relative;
  top: 100px;
}

.navbar__wrapper {
  margin-top: 80px;
  height: 300px;
}

.navbar {
  width: 80%;
  margin: auto;
  margin-top: -150px;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
  height: 80px;
  text-align: center;
  position: relative;
}

.navbar__ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: auto;
}

.navbar__left {
  float: left;
}

.navbar__right {
  float: right;
}

.navbar__li {
  display: inline-block;
  font-size: 25px;
  line-height: 80px;
}

.navbar__li a {
  cursor: pointer;
  transition: background-color .5s;
  padding: 0 30px 0;
  height: 80px;
  display: inline-block;
  height: 100%;
}

.navbar__li a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

.navbar__li a:hover {
  background-color: #1e90ff;
  color: #fffff0;
}

.main__product-img-wrapper {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 80%;
  height: 400px;
}

.main__footer {
  height: 160px;
  background-color: black;
}

.main__product-img {
  height: 400px;
  width: 400px;
  margin: 0 25px 0;
}

.main__product-img:hover {
  /* border: 2px solid #1e90ff; */
  box-shadow: 0 0 3px 4px rgba(30,144,255,.5);
}

#MAIN__PRODUCT-IMG-LEFT {
  float: left;
}

#MAIN__PRODUCT-IMG-RIGHT {
  float: right;
}

.about__container {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about__header {
  text-align: left;
  color: #1e90ff;
}

.about__paragraph {
  text-align: left;
  font-size: 16px;
  line-height: 17px;
  width: 61.8%;
}

.product__container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.product__display {
  width: 100%;
}

.product__images-container {
  display: inline-block;
  text-align: center;
  width: 400px;
}

.product__displayed-img {
  display: block;
  height: 400px;
  width: 400px;
}

.product__summary {
  display: inline-block; 
  min-width: 370px;
  width: calc(100% - 400px);
  width: -o-calc(100% - 400px);
  width: -webkit-calc(100% - 400px);
  width: -moz-calc(100% - 400px);
  box-sizing: border-box;
  padding: 20px 20px 20px 60px;
  vertical-align: top;
}

.product__details {
  margin-top: 50px;
  clear: both;
}

.product__detail {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

.product__detail-img {
  height: 300px;
  width: 300px;
  background-color: white;
  border: none;
  float: left;
}

.product__detail--bold {
  color: #1e90ff;
}

.product__detail-text {
   width: 50%; 
  width: calc(100% - 300px);
  width: -moz-calc(100% - 300px);
  width: -webkit-calc(100% - 300px);
  width: -o-calc(100% - 300px);
  display: inline-block;
  box-sizing: border-box;
  padding: 30px;
  font-size: 20px;
}

.navbar__li--shop {
  position: relative;
}
.dropdown__wrapper {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 0;
  transition: height .2s cubic-bezier(1, .01, 1, 1);
  -webkit-transition: height .2s cubic-bezier(1, .01, 1, 1);
  -o-transition: height .2s cubic-bezier(1, .01, 1, 1);
  -moz-transition: height .2s cubic-bezier(1, .01, 1, 1);
  left: 0px;
  background-color: white;
}

.shop__dropdown {
  position: absolute;
  left: 0px;
  width: 120px;
  color: black;
  padding: 5px;
  z-index: 5;
  box-sizing: border-box;
  box-shadow: 0 0 3px 2px rgba(30,144,255,.5);
}

.shop__dropdown a{
  display: inline-block;
  width: 100%;
}

.shop__dropdown--ul {
  list-style-type: none;
  font-size: 13px;
  line-height: 18px; 
  text-align: left;
  padding: 0;
  margin-bottom: 10px;
}

.shop__dropdown--category {
  font-weight: 700;
  margin-bottom: 5px;
}

.shop__dropdown--product {
  transition: background-color .5s;
}

.shop__dropdown a {
  padding: 0;
}

.shop__dropdown--product:hover {
  background-color: #1e90ff;
  color: white;
} 

.add-height {
  height: 118px;
}

.product__thumbs {
  display: inline-block;
  margin-top: 10px;
  line-height: 10px;
}

.product__thumbs--img {
  height: 25px;
  width: 25px;
  border-radius: 2px;
  margin-right: 10px;
  box-sizing: border-box;
  border: 1px solid #a2a6ac;
}

.product__thumbs--img:last-child {
  margin-right: 0;
}

.product__thumbs--hover {
  border: 1px solid #1E90FF;
  box-shadow: 0 0 3px 2px rgba(30,144,255,.5);
}

.product__img--odd {
  float: right;
}

#neon-name {
  color: #39FF14;
}

#cold-name {
  color: #1E90FF;
}

.product__buy-btn {
  background: #f4d078;
  background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  color: black;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 18px;
}

.product__buy-btn:hover {
  box-shadow: 0 0 3px 2px rgba(30,144,255,.5);
}