<div class="product__container" ng-controller="ProductController">
  <div class="product__display">
    <div class="images__container">
      <img src={{neonGrizzly.imageUrls[0]}} class="product__img">
      <div class="product__img-gallery">
        <img src={{image}} ng-repeat="image in neonGrizzly.imageUrls" class="product__img-gallery--img">
      </div>
    </div>
    <div class="product__summary">
      <h1 class="product__price">${{neonGrizzly.price}}</h1>
      <p class="product__desc">{{neonGrizzly.summary}}</button>
    </div>
  </div>
  <div class="product__details">
    <div class="product__detail" ng-repeat="detail in neonGrizzly.details">
      <img class="product__detail-img" ng-class-odd="product__img--odd" src={{neonGrizzly.imageUrls[$index]}}>
      <p class="product__detail-text">
        <span class="product__detail--bold">
          {{detail.header}}
        </span> <br>
        {{detail.body}}
      </p>
    </div>
  </div>
</div>